:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1 {
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-inputs {
	display: flex;
	flex-direction: column;
	gap: 20px;

}

#new-task-description {
	padding-top: 20px;
	padding-left: 20px;
	font-size: large;
	border-radius: 1rem;
	color: #FFF;
}

#task-date {
	background-color: #1F2937;
	width: 100%;
	height: 60px;
	border-radius: 1rem;
	padding-left: 20px;
	padding-top: 10px;
	font-size: large;
	color: gray;

}

input,
button {
	border: none;
	outline: none;
	background: none;
}

textarea {
	margin-top: 20px;
	border-radius: 10px;
	background-color: #1F2937;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

.task {
	display: flex;
	gap: 20px;

}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit,
#clear-all-ctasks,
#clear-all-itasks {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#clear-all-ctasks,
#clear-all-itasks {
	margin-left: 40%;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task_list {
	padding: 1rem;
}

.task_list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#tasks {
	display: flex;
	/* flex-wrap: wrap;
	word-wrap: break-word; */
}

#tasks .task,
#donetasks .task {
	display: flex;
	justify-content: space-between;
	/* flex-wrap: wrap; */
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

#donetasks .task .actions .edit,
#donetasks .task .actions .done,
#donetasks .task .actions .delete {
	background-image: linear-gradient(to right, gray, navy);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: none;
}

.task .content {
	flex: 1 1 0%;
	

}
/* .title{
	color: var(--light);
	font-size: 1.125rem;
	display: inline-block;

} */

.textlate{
	color: #BA0021;
}
.textonTime{
	color: #EC4899;
}


.task .content .text {
	width: 100%;
	display: flex;

}

.task .content .text,
.task .content .date {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	transition: 0.4s;

}

.task .content .text:not(:read-only),
.task .content .date:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete,
.task .actions .delete2 {
	color: crimson;
}

.task .actions .done {
	background-image: linear-gradient(to right, var(--pink), crimson);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* body{
	background-color: #1F2937;
}
header{
	width: 98vw;
	height: 98vh;
	border-color: salmon;
}
form{
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	width: 50%;
	height: 50%;

} */